// COLORS
:root {
}

:root[data-theme='light'] {
    --main-bg: #212121;
    --maisn-font-color: #fff;
}

:root[data-theme='dark'] {
    --main-bg: #212121;
    --main-font-color: #fff;
}

// Font
$font-primary: Sans-serif;
$font-secondary: Sans-serif;
